# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Slain-io.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Slain-io\.idea\.idea.Slain-io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
